@{
    ViewData["Title"] = "Home Page";
}
<body>

<div class="text-center">
    
    <style>
        body {
        
            background-image: url('https://img.freepik.com/free-vector/cyber-technology-background_23-2148390330.jpg?w=1060&t=st=1698311389~exp=1698311989~hmac=a61ad0e1043eedb56391e285b000ff5fa478ada9fb82551d17319c03a9c3dd05');
            background-repeat: no-repeat;
            background-size: cover;
        }

    </style>
    <h1 class="display-4">Employee Details Page</h1>



    

    

    
</div>
</body>
